html,body{
    height: 100%;
}
h2{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 27px;
}
p{
    font-size: 18px;
    line-height:24px;
    margin-bottom: 17px;
}

@media(max-width: 767px){
    h2{
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 11px;
    }
    p{
        font-size:14px;
        line-height:18px;
    }
}
.app{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main{
    flex: 1;
    padding: 40px 0;
}
.categorii{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    
}
.categorii__item{
    width: calc(100% / 2 - 14px);
    margin: 0 7px;
    margin-bottom: 15px;
    padding-bottom: 15%;
    background-size: cover;
    transition: 0.3s all;
    padding-top: 34px;
    padding-left: 44px;
}
.categorii__item:hover{
    box-shadow: 0 0 200px 50px rgba(0,0,0,.3) inset;
}

.categorii__name{
    font-family: 'YoungHeart',sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 41px;
    line-height: 72px;
    letter-spacing: 0.05em;
    color: #fff;
}

@media(max-width: 1199px){
    .categorii__item{
        padding-left: 20px;
    }
}
@media(max-width: 991px){
    .categorii__name{
        font-size: 26px;
        line-height: 46px;
    }
    .app{
        padding-top: 112px;
    }
    .footer{
        margin-top:0px;
    }
}
@media(max-width: 767px){
    .categorii__item{
        width: calc(100% - 14px);
        padding-bottom: 30%;
    }
    .header__hr{
        display: block;
    }
    
}

@media(max-width: 559px){
    .app{
        padding-top: 100px;
    }
}
@media(max-width: 374px){
    .app{
        padding-top: 70px;
    }
}


// каталог

.banner{
    display: block;
}
.banner img{
    width: 100%;
    display: block;
}
.banner img.banner__mob{
    display: none;
}
@media(max-width: 767px){
    .banner img{
        display: none;
    }
    .banner img.banner__mob{
        display: block;
    }
}
.catalog__wrap{
    display: flex;
}

.catalog h1{
    font-family: 'YoungHeart',sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 88px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #B57834;
    margin: 40px 0;
}
.catalog__filter{
    flex: 0 0 236px;
}
.catalog__filter__title{
    font-weight: bold;
    cursor: pointer;
    font-size: 21px;
    line-height: 26px;
    color: #262526;
    margin-bottom: 15px;
    span{
        color: #B57834;
        margin-left: 15px;
    }
}
.catalog__filter__wrap{
    padding-bottom: 25px;
}
.catalog__filter__wrap li{
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #262526;
    max-width: 175px;
    margin-bottom: 15px;
}
.catalog__form__item input + label{
    position: relative;
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}
.catalog__form__item input{
    display: none;
}
.catalog__form__item input + label:before{
    content: "";
    display: block;
    border: 1px solid rgba(38, 37, 38, 0.5);
    box-sizing: border-box;
    height: 19px;
    width: 19px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.catalog__form__item input:checked + label:after{
    content: "";
    display: block;
    border: 1px solid rgba(38, 37, 38, 0.5);
    box-sizing: border-box;
    height: 11px;
    width: 11px;
    border-radius: 100%;
    position: absolute;
    top: 4px;
    left: 4px;
    background: #B57834;
}

.catalog__filter__item .catalog__filter__title span{
    display: none;
}
.catalog__filter__item .catalog__filter__title span.plus{
    display: inline-block;
}
.catalog__filter__item.active .catalog__filter__title span{
    display: inline-block;
}
.catalog__filter__item.active .catalog__filter__title span.plus{
    display: none;
}
.catalog__form button{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    width: 199px;
    height: 56px;
    background: #B57834;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.3s all;
}
.catalog__form button:hover{
    opacity: 0.8;
}
.catalog__list{
    flex: 1;
    padding-left: 81px;
}
.catalog__list__filter{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 25px;
}
.selectric{
    background-color: transparent;
    border: 0;
    
}
.selectric .label{
    font-size: 14px;
    line-height:36px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.5);
}
.selectric .button{
    background-color: transparent;
    font-size: 0;
}
.selectric .button:after{
    content: "";
    top: -3px;
    display: block;
    width: 7px;
    height:7px;
    border: 0;
    transform: rotate(45deg);
    border-right: 1.5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
}
.selectric-items{
    background-color: #fff;
}
.selectric-items li{
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: rgba(0, 0, 0, 0.5);
}
.selectric-items li.highlighted{
    background-color: #b57834;
    color: #fff;
}
.catalog__list__price:after{
    content: "";
    height: 20px;
    margin-left: 3px;
    display: inline-block;
    position: relative;
    bottom: -6px;
    width: 12px;
    background-size: contain;
    background-image: url('../img/catalog/rub.svg');
}
.catalog__list__img{
    padding-bottom: 93%;
    background-size: contain;
    display: block;
    margin-bottom: 9px;
    background-repeat: no-repeat;
}
.catalog__list__wrap{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
}
.catalog__list__item{
    width: calc(100% / 3 - 14px);
    text-align: center;
    margin: 0 7px;
    margin-bottom: 45px;
}
.catalog__list__name{
    font-size: 13px;
    line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center;
}
.catalog__list__price{
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 19px;
}
.catalog__list__btn{
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    font-weight: bold;
    color: #262526;
    width: 221px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #262526;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s all;
}
.catalog__list__btn:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.catalog__list__link{
    font-size: 15px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
    font-weight: bold;
    color: #262526;
    width: 221px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #262526;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s all;
    background-color: #b57834;
    color: #fff;
    border: 0;
}
.catalog__list__link:hover{
    opacity: 0.8;
}

#tovar-modal{
    display: flex;
    flex-wrap: wrap;
    span{
        font-size: 18px;
        line-height: 22px;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        font-weight: bold;
    }
    div{
        display: flex;
    }
    a{
        margin: 0 10px;
    }
    button{
        margin: 0 10px;
    }
}

@media(max-width: 1199px){
    .catalog__list__item{
        width: calc(100% / 2 - 14px);
    }
    
}
#catalog__filter__btn{
    display: none;
}
@media(max-width: 991px){
    .catalog__filter{
        display: none;
    }
    .catalog__list{
        padding-left: 0;
    }
    .catalog__list__img {
        height: auto;
    }
    #catalog__filter__btn{
        display: flex;
        align-items: center;
        background-color: transparent;
        img{
            margin-right: 13px;
        }
    }
    .catalog__list__filter{
        justify-content: space-between;
        align-items: center;
    }
}

@media(max-width: 559px){
    .catalog__list__filter{
        margin-bottom: 10px;
    }
    .catalog__list__link{
        width: 100%;
        font-size: 13px;
        line-height: 16px;
        height: 36px;
    }
    .catalog__list__btn{
        width: 100%;
        font-size: 13px;
        line-height: 16px;
        height: 36px;
    }
    .catalog h1{
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .catalog__list__item{
        text-align: left;
    }
    .catalog__list__name{
        text-align: left;
    }
    .banner{
        margin: 0 -30px;
    }
}
@media(max-width: 412px){
    .banner{
        margin: 0 -15px;
    }
}
@media(max-width: 374px){
    .catalog__list__item{
        width: calc(100% - 14px);
    }
}
.catalog-text{
    max-width: 836px;
    margin-top: 70px;
}
.catalog-text h2{
    font-family: 'YoungHeart', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 50px;
    line-height: 88px;
    letter-spacing: 0.05em;
    color: #B57834;
}
.catalog-text  p{
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 19px;
    color: #262526;
}

@media(max-width: 767px){
    .catalog-text{
        margin-top: 10px;
    }
    .catalog-text  p{
        font-size:16px;
        line-height: 21px;
    }
    .catalog-text h2{
        font-size: 24px;
        line-height: 42px;
    }
}
.catalog__filter__mobtop{
    display: none;
}
@media(max-width: 991px){
    .catalog__filter__mobtop{
        display: flex;
        align-items: center;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        justify-content: center;
    }
    .filter__logo{

    }
    .catalog__filter{
        z-index: 99;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        background-color: #fff;
        padding: 0 40px;
        padding-top: 120px;
    }
    .filter__close{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
    }
    .filter__close span:nth-child(1){
        width: 30px;
        height: 2px;
        display: block;
        background-color: #000;
        position: absolute;
        top:25px;
        left: 9px;
        transform: rotate(45deg);
    }
    .filter__close span:nth-child(2){
        width: 30px;
        height: 2px;
        display: block;
        background-color: #000;
        position: absolute;
        top: 25px;
        left: 10px;
        transform: rotate(-45deg);
    }
    .catalog__form button{
        max-width: 336px;
        width: 100%;
        height: 56px;
        margin: 0 auto;
        margin-top: 45px;
    }
}
@media(max-width: 767px){
    .catalog__filter__wrap li{
        margin-bottom: 10px;
    }
    .catalog__filter{
        padding-right: 20px;
        padding-left: 20px;
    }
}


// товар
.tovar h1{
    font-size: 35px;
    line-height: 44px;
    font-weight: bold;
    margin-bottom: 35px;
}
.tovar-cart{
    width: 514px;
    margin-bottom: 35px;
}
.tovar__wrap{
    display: flex;
}
.big-cart{
    width: 100%;
    
}
.big-cart__item{
    display: block;
    height: 455px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.big-cart__item.video{
    position: relative;
}

.big-cart__item.video:after{
    content: "";
    width: 121px;
    height: 121px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #262526;
    border-radius: 100%;
    background-image: url('../img/tovar/video.svg');
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: center left 42px;
    transition: 0.3s all;
}
.nav-cart__item{
    width: 92px;
    height: 74px;
    margin: 0 5px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.nav-cart__item.slick-current{
    border: 2px solid #262526;
}
.nav-cart{
    display: flex;
    margin-top: 38px;
}
.nav-cart .slick-arrow{
    cursor: pointer;
    flex: 0 0 107px;
    background-color: #fff;
    background-image: url('../img/tovar/t-arr.svg');
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center right;
}
.nav-cart .slick-arrow.slick-prev{
    background-position: left center;
    background-image: url('../img/tovar/t-arr-l.svg');
}


.tovar-right{
    padding-left: 128px;
}
.tovar-right__title{
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 34px;
}
.har__wrap{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 34px;
}
.har__wrap div{
    margin-bottom: 17px;
}
.har__wrap span{
    color: rgba(0, 0, 0, 0.5);
    padding-left: 12px;
}
.tovar__right__btn{
    display: flex;
}
.tovar__right__btn button{
    width: 280px;
    height: 65px;
    margin-right: 15px;
}
.tovar__right__btn1{
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    border: 1px solid #262526;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s all;
}

.tovar__right__btn1:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.tovar__right__btn2{
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    background: #262526;
    transition: 0.3s all;
    font-weight: bold;
    cursor: pointer;
}
.tovar__right__btn2:hover{
    opacity: 0.9;
}

#tovar-modal2{
    width: 450px;
    padding: 25px;
    position: relative;
}
#tovar-modal2 form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tovar-modal2 h2{
    text-align: center;
    margin-bottom: 20px;
}
#tovar-modal2 input{
    width: 100%;
    height: 43px;
    background: rgba(213, 213, 213, 0.5);
    
    padding: 0 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #000;
}
#tovar-modal2 input::placeholder{
    font-size: 18px;
}

#tovar-modal2 button{
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    font-weight: 700;
    background: #242424;
    color: #fff;
    width: 221px;
    height: 43px;
    cursor: pointer;
}
.fancyclose{
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.fancyclose span:nth-child(1) {
    width: 20px;
    height: 2px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 15px;
    left: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fancyclose span:nth-child(2) {
    width: 20px;
    height: 2px;
    display: block;
    background-color: #000;
    position: absolute;
    top: 15px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#tovar-modal-spasibo{
    padding: 50px;
}
#tovar-modal-spasibo h2{
    text-align: center;
}
@media(max-width: 1399px){
    .tovar-right{
        padding-left: 50px;
    }
}

@media(max-width: 1279px){
    .tovar__right__btn{
        flex-direction: column;
    }
    .tovar__right__btn button{
        margin-right: 0;
        margin-bottom: 15px;
    }   
}
@media(max-width: 1023px){
    .tovar__wrap{
        flex-direction: column;
        align-items: center;
    }
    .tovar-right{
        padding-left: 0;
        width: 100%;
    }
    .tovar h1{
        text-align: center;
    }
}

@media(max-width: 559px){
    .tovar-cart{
        width: 100%;
    }
    .big-cart__item{
        height: auto;
        padding-bottom: 15%;
    }
    .tovar__right__btn button{
        width: 100%;
        height: 66px;
        font-size: 22px;
        line-height: 28px;
    }
    .tovar-right__title{
        font-size: 19px;
        line-height: 24px;
        margin-bottom: 15px;
    }
    .har__wrap div{
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 15px;
    }
    .har__wrap span{
        padding-left: 10px;
    }
   
    .nav-cart .slick-arrow{
        flex: 0 0 23%;
    }
    .tovar h1{
        text-align: left;
        font-size: 25px;
        line-height: 31px;
        margin-bottom: 23px;
    }
    .har__wrap{
        margin-bottom: 15px;
    }
    .tovar__right__btn{
        margin-top: 30px;
    }
    .nav-cart .slick-arrow{
        flex: 1;
        background-size: 50%;
    }
    .nav-cart .slick-list{
        width: 200px;
    }
    .big-cart__item.video:after{
        width: 90px;
        height: 90px;
        background-size: 35px;
        background-position: center left 33px;
    }
}


@media(max-width: 424px){
    #tovar-modal div{
       flex-direction: column;
    }
    #tovar-modal a{
        margin-bottom: 15px;
    }
}
@media(max-width: 374px){
    #tovar-modal2 h2{
        font-size: 20px;
    }
}

h3{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 19px;
}
.tovar-text__desc{
    margin-bottom: 38px;
}
// .tovar-text__sostav p{
//     font-size: 18px;
//     line-height: 23px;
// }
.tovar-text{
    margin-bottom: 56px;
}

@media(max-width: 1023px){
    .tovar-text{
        margin-top: 25px;
    }
}
@media(max-width: 767px){
    .tovar-text__desc{
        margin-bottom: 35px;
    }
    h3{
        font-size: 17px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    // .tovar-text__sostav p{
    //     font-size: 13px;
    //     line-height: 16px;
    // }
}

.tovar-slider__title{
    font-size: 35px;
    line-height: 44px;
    font-weight: bold;
}
.tovar-slider__wrap{
    padding-top: 41px;
}
.tovar-slider__wrap .slick-list{
    margin: 0 -7px;
}
.tovar-slider__wrap .slick-arrow{
    width: 41px;
    height: 15px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    font-size: 0;
    background-image: url('../img/tovar/t-arr.svg');
    position: absolute;
    right: 0;
    top: -28px;
    cursor: pointer;
}
.tovar-slider__wrap .slick-arrow.slick-prev{
    right: 50px;
    background-image: url('../img/tovar/t-arr-l.svg');
}
.tovar-slider__wrap a:focus{
    outline: none;
}

@media(max-width: 767px){
    .tovar-slider__wrap{
        display: flex;
    }
    .tovar-slider__wrap .slick-list{
        width: 90%;
    }
    .tovar-slider__wrap .slick-arrow{
        position: initial;
        flex: 1;
        margin-top: 35px;
        background-size: 22px 8px;
        background-position: center right;
        margin-right: -5px;
    }
    .tovar-slider__wrap .slick-arrow.slick-prev{
        background-position: center left;
        margin-right: 0;
        margin-left: -5px;
    }
    .tovar-slider__title{
        font-size: 25px;
        line-height: 31px;
    }
}
.black-title{
    font-size: 35px;
    line-height: 44px;  
    margin-bottom: 48px;
}
@media(max-width: 767px){
    .black-title{
        margin-bottom: 21px;
        font-size: 25px;
        line-height: 31px;
    }

}
// корзина
.korzina__head{
    background: #D4D4D4;
    height: 51px;
    display: flex;
    text-align: center;
    align-items: center;
}
.korzina__head__item{
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
}   
.korzina__head__item.item1{
    flex: 0 0 195px;
}
.korzina__head__item.item2{
    flex: 0 0 420px;
    text-align: left;
    padding-left: 58px;
}
.korzina__head__item.item3{
    flex: 1
}
.korzina__head__item.item4{
    flex: 1
}
.korzina__head__item.item5{
    flex: 0 0 75px;
    padding: 0 15px;
}
.korzina__body__item{
    display: flex;
}
.korzina__flex{
    display: flex;
    align-items: flex-start;
    padding-top: 49px;
    flex: 1;
}
.korzina__name{
    flex: 0 0 420px;
    font-size: 16px;
    line-height: 20px;
    padding-left: 15px;
    padding-right: 15px;
    color: #262526;
}
.korzina__count{
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #262526;
    text-align: center;
    justify-content: center;
    div{
        margin: 0 7px;
    }
}
.korzina__price{
    flex: 1;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #262526;
}
.korzina__delete{
    flex: 0 0 75px;
    padding: 0 15px;
}
.korina__tovar{
    flex: 0 0 195px;
    img{
        width: 100%;
    }
}
.korzina__body__item{
    padding-top: 26px;
    padding-bottom: 19px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.v-minus, .v-plus{
    transition: 0.2s all;
    font-size: 21px;
    line-height: 26px;
    cursor: pointer;
    font-weight: 500;
}
.korzina__delete{
    background-color: transparent;
    cursor: pointer;
    img{
        width: 26px;
    }
}
.korzina__bot{
    padding-top: 41px;
    padding-bottom: 20px;
}
.kozrina__bot__item{
    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    line-height: 29px;
    color: #262526;
    span{
        font-weight: bold;
        padding-right: 10px;
    }
}
@media(max-width: 1199px){
    .korzina__name{
        flex: 0 0 350px;
    }
    .korzina__head__item.item2{
        flex: 0 0 350px;
    }
}
@media(max-width: 991px){
    .korzina__head__item.item3{
        display: none;
    }
    .korzina__head__item.item5{
        display: none;
    }
    .korzina__head__item.item4{
        flex: 1;
    }
    .korzina__head__item.item2{
        flex: 1;
    }
    .korzina__name{
       
        flex: 1;
    }
    .korzina__price{
       
        min-width: 100px;
    }
    
    
    .korzina__flex{
        flex-wrap: wrap;
    }
    .korzina__count{
        flex: 0 0 50px;
    }
}

@media(max-width: 767px){
    .korzina__name{
        order: 1;
        flex:auto;
        width: calc(100% - 100px);
    }
    .korzina__price{
        order: 2;
        flex: 1;
    }
    .korzina__count{
        order: 3;
        flex: auto;
        width: calc(100% - 75px);
    }
    .korzina__delete{
        order: 4;   
        padding: 0;
    }
    .korzina__count{
        flex: auto;
        justify-content: flex-start;
        padding-left: 15px;
    }
}
@media(max-width: 559px){
    .korina__tovar{
        flex: 0 0 92px;
    }
    .korzina__flex{
        padding-top: 5px;
    }
    .korzina__head__item.item1{
        flex: 0 0 92px;
    }
    .kozrina__bot__item{
        font-size: 14px;
        line-height: 18px;
    }
    .korzina__bot{
        padding-top: 20px;
    }
    .korzina__name{
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
    }
    .korzina__price{
        font-size: 14px;
        line-height: 18px;
    }
    .korzina__delete img{
        width: 15px;
    }
    .korzina__count{
        font-size: 12px;
        line-height: 15px
    }
    .v-minus, .v-plus{
        font-size: 14px;
        line-height: 18px;
    }
    .korzina__count div{
        margin: 0 5px;
    }
    .korzina__head__item{
        font-size: 8px;
        line-height: 10px;
    }
    .korzina__head{
        height: 30px;
    }
    .korzina__body__item{
        padding-top: 11px;
        padding-bottom: 12px;
    }
}
@media(max-width: 374px){
    .korzina__price{
        font-size: 12px;
    }
    .korzina__count{
        padding: 0 10px;
    }
    .korzina__name{
        padding: 0 10px;
    }
    .korina__tovar{
        flex: 0 0 65px;
    }
    .korzina__head__item.item1{
        flex: 0 0 65px;
    }
}
.korzina-form{
    display: flex;
    margin: 0 -70px;
}
.korzina-form__item{
    width: calc(100% / 3 - 140px);
    margin: 0 70px;
}
.korzina-form__title{
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 33px;
    white-space: nowrap;
}
.korzina-form{
    .label{
        font-size: 14px;
        line-height: 18px;
        color: rgba(38, 37, 38, 0.7);
        display: block;
        margin-bottom: 4px;
    }
    input{
        background: rgba(213, 213, 213, 0.5);
        height: 42px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
        width: 100%;
        padding: 0 15px;
    }
}
.korzina-form__text{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 22px;
}
.korzina-form__radioblock{
    margin-bottom: 34px;
    .catalog__form__item input+label{
        color: rgba(38, 37, 38, 0.5);
    }
    .catalog__form__item input:checked+label{
        color: #000;
    }
    .catalog__form__item input + label::before{
        border: 1px solid #000;
    }
}

.korzina-form__btn{
    background: #262526;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    width: 306px;
    height: 70px;
    margin-top: 77px;
    cursor: pointer;
    transition: 0.3s all;
}
.korzina-form__btn:hover{
    opacity: 0.9;
}
.korzina-form{
    margin-top: 124px;
}
input{
    background: rgba(213, 213, 213, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transition: 0.3s all;
}
input:focus{
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

@media(max-width: 1399px){
    .korzina-form__title{
        white-space: initial;
    }
    .korzina-form{
        margin-right: -40px;
        margin-left: -40px;
    }
    .korzina-form__item {
        width: calc(100% / 3 - 80px);
        margin: 0 40px;
    }
}
@media(max-width: 1199px){
    .korzina-form{
        margin-right: -20px;
        margin-left: -20px;
    }
    .korzina-form__item {
        width: calc(100% / 3 - 40px);
        margin: 0 20px;
    }
    .korzina-form__btn{
        width: 275px;
        margin-top: 50px;
    }
}
@media(max-width: 991px){
    .korzina-form{
        flex-wrap: wrap;
        margin-top: 50px;
        padding-bottom: 50px;
    }
    .korzina-form__item {
        width: calc(100%  - 40px);
    }
    .korzina-form__btn{
        margin-left: 50%;
        transform: translateX(-50%);
    }
    
}

@media(max-width: 559px){
    .korzina-form__title{
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 22px;
    }
    .korzina-form__text{
        font-size: 16px;
        line-height: 20px;              
    }
    .korzina-form__btn{
        width: 100%;
    }
    .korzina-form .label{
        font-size: 14px;
        line-height: 18px;
    }
    .korzina-form input{
        height: 42px;
    }
    .korzina-form{
        padding-bottom: 0;
    }
}


// страница спасибо
.spasibo{
    margin-bottom: 125px;
    height: 538px;
    background-size: cover;
    color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 81px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}
.spasibo__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 43px;
}
.spasibo__text{
    font-size: 23px;
    line-height: 29px;
    max-width: 841px;
    margin: 0 auto;
}
.spasibo__link{
    display: flex;
    position: absolute;
    left: 40px;
    bottom: 56px;
}
.spasibo__link img{
    margin-right: 15px;
    transition: 0.3s all;
}
.spasibo__link a:hover img{
    transform: translateX(-5px);
}
@media(max-width: 767px){
    .spasibo__title{
        font-size: 30px;
        line-height: 38px;
    }
    .spasibo__text{
        font-size: 16px;
        line-height: 20px;
    }
    .spasibo{
        height: auto;
    }
    .spasibo__link{
        margin-top: 76px;
        position: initial;
        justify-content: center;
    }
    .spasibo{
        margin-bottom: 50px;
        margin-left: -30px;
        margin-right: -30px;
        padding-top: 65px;
    }
    
}
@media(max-width: 412px){
    .spasibo{
        margin-left: -15px;
        margin-right: -15px;
    }
}
@media(max-width: 374px){
   
    .spasibo__title {
        font-size: 26px;
        line-height: 34px;
    }
}

.float-img{
    margin-top: 50px;
    margin-bottom: 50px;
    img{
        margin-right: 41px;
        float: left;
        max-width: 100%;
    }
}
.float-img:after{
    content: "";
    clear: both;
    display: table;
}

@media(max-width: 991px){
    .float-img{
        margin-top: 15px;
        margin-bottom: 15px;
        img{
            margin-right: 0;
            float: none;
            margin-bottom: 15px;
        }
    }
}

#map{
    height: 609px;
}
.contact{
    padding-top: 60px;
    display: flex;
}
.contact__item{
    width: 50%;
    margin-bottom: 50px;
}

.contact__line{
    margin-bottom: 20px;
    display: flex;
    font-size: 22px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.5);
    span{
        color: #000;
        padding-left: 10px;
    }
}
.contact__form{
    display: flex;
    margin: 0 -7px;
}
.contact .korina-form__wrap{
    width: 50%;
    margin: 0 7px;
    .label{
        font-size: 14px;
        line-height: 18px;
        color: rgba(38, 37, 38, 0.7);
        display: block;
        margin-bottom: 4px;
    }
    input{
        background: rgba(213, 213, 213, 0.5);
        height: 42px;
        margin-bottom: 30px;
        width: 100%;
        padding: 0 15px;
    }
    textarea{
        margin-top: 21px;
        width: 100%;
        height: 136px;
        border: 1px solid #000000;
        resize: none;
        padding: 12px 15px;
    }
    button{
        background: #242424;
        font-size: 15px;
        width: 100%;
        height: 42px;
        line-height: 19px;
        text-align: center;
        transition: 0.3s all;
        color: #FFFFFF;
        margin-top: 47px;
    }
    button:hover{
        opacity: 0.9;
        cursor: pointer;
    }
}

@media(max-width: 991px){
    .contact{
        flex-direction: column;
    }
    .contact__item{
        width: 100%;
        margin-bottom: 42px;
    }
}
@media(max-width: 991px){
    #map{
        margin: 0 -30px;
    }
}
@media(max-width: 559px){
    .contact__line{
        font-size: 15px;
        line-height: 19px;
    }
    .contact__form{
        margin: 0;
        flex-direction: column;
    }
    .contact .korina-form__wrap{
        width: 100%;
        margin: 0;
    }
    .contact .korina-form__wrap textarea{
        margin-top: 0;
    }
    .contact .korina-form__wrap button{
        margin-top: 30px;
    }
    
}
@media(max-width: 412px){
    #map{
        margin: 0 -15px;
    }
}

.history__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    a{
        padding-top: 2px;
        padding-left: 8px;
        display: flex;
        align-items: center;
        font-size: 22px;
        line-height: 28px;
        svg{
            margin-right: 11px;
            height: 10px;
            transition: 0.3s all;
        }
        span{
            margin-left: 6px;
        }
    }
    a:hover{
        svg{
            transform: translateX(-5px);
        }
    }
}

.korzina__head__item.price{
    flex: 0 0 300px;
    text-align: right;
    padding-right: 75px;
}
.korzina__head__item.count{
    flex:  0 0 300px;
}
.history .korzina__price{
    flex: 0 0 300px;
    padding-right: 75px;
    text-align: right;
}
.history .korzina__name{
    flex: 1;
}
.history .korzina__count{
    flex: 0 0 300px;
}
.korzina__head .flex{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

@media(max-width: 1199px){
    .korzina__head__item.price{
        flex: 0 0 200px;
    }
    .korzina__head__item.count{
        flex: 0 0 200px;
    }
    .history .korzina__price{
        flex: 0 0 200px;
    }
    .history .korzina__count{
        flex: 0 0 200px;
    }
}
@media(max-width: 991px){
    .korzina__head__item.price{
        flex: 0 0 150px;
        padding-right: 15px;
    }
    .korzina__head__item.count{
        flex: 0 0 100px;
        
    }
    .history .korzina__price{
        flex: 0 0 150px;
        padding-right: 15px;
    }
    .history .korzina__count{
        flex: 0 0 100px;
    }
}

@media(max-width:767px){
    .korzina__head__item.count{
        display: none;
    }
    .history .korzina__price{
        order: 1;
        flex: 0 0 80px;
    }
    .history .korzina__count{
        flex: 0 0 100%;
    }
    .history__top a span{
        display: none;
    }
}

.history__bot{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.history__bot__item, .history__bot__item2{
   
}
.history__bot__item{
    font-size: 20px;
    line-height: 25px;
    color: rgba(38, 37, 38, 0.5);
    span{
        color: #000;
    }
    div{
        margin-bottom: 10px;
    }
}
.history__bot__item2{
    text-align: right;
    font-size: 23px;
    line-height: 29px;
    /* identical to box height */
    color: #262526;
    div{
        margin-bottom: 10px;
    }
    span{
        font-weight: bold;
        padding-right: 10px;
    }
}

@media(max-width: 767px){
    .history__bot{
        margin-top: 25px;
    }
    .history__bot__item2{
        font-size: 12px;
        line-height: 15px;
        div{
            margin-bottom: 6px;
        }
    }
    .history__bot__item{
        font-size: 9px;
        line-height: 11px; 
        div{
            margin-bottom: 6px;
        } 
    }
}
@media(max-width: 374px){
    .history__bot{
        flex-direction: column-reverse;
    }
    .history__bot__item{
        margin-top: 15px;
        text-align: right;
    }
}

.cabinet{
    display: flex;
    .label{
        display: block;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height */
        color: rgba(38, 37, 38, 0.7);
        margin-bottom: 4px;
    }
}
.cabinet__text{
    font-size: 23px;
    line-height: 29px;
    margin-bottom: 23px;
}
.cabinet__form input{
    height: 42px;
    margin-bottom: 29px;
    padding: 0 15px;
    width: 100%;
}
.cabinet__left{
    width: 306px;
}
.cabinet__form button{
    background: #262526;
    height: 67px;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    width: 100%;
    transition: 0.3s all;
    cursor: pointer;
}
.cabinet__form button:hover{
    opacity: 0.9;
}
.adressa{
    text-align: right;
}
.adressa__item{
    font-size: 16px;
    line-height: 20px;
}
.adressa__delete{
    background-color: #fff;
    margin-left: 18px;
    cursor: pointer;
    transition: 0.3s all;
}
.adressa__delete:hover{
    transform: scale(1.1);
}
.adressa__item{
    margin-bottom: 7px;
}
.adressa__add{
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height */
    color: #262526;
    background-color: #fff;
    cursor: pointer;
    span{
        padding-right: 5px;
    }
}
.cabinet__form{
    margin-bottom: 42px;
}

.cabinet__right{
    flex: 1;
    padding-left: 123px;
}
.cabinet__head1{
    text-align: center;
    width: 145px;
}
.cabinet__head3{
    flex: 1;
    text-align: right;
    padding-right: 71px;
}
.number{
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #262526;
    width: 145px;
}
.cabinet__price-r{
    flex: 0 0 220px;
    text-align: right;
    padding-right: 77px;
    font-size: 16px;
    line-height: 20px;
}
.cabinet .korzina__name{
    flex: 1;
}
.cabinet-povtor{
    margin-top: 5px;
    padding: 10px 0;
    height: 36px;
    font-weight: bold;
    display: flex;
    margin-left: auto;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    background-color: #fff;
    img{
        
        transition: 0.3s all;
    }
    span{
        width: 0;
        margin-left: 0;
        overflow: hidden;
        transition: 0.3s all;
        white-space: nowrap;
    }
}

.cabinet-povtor:hover span{
    width: 109px;
    margin-left: 14px;
}
.cabinet-povtor:hover img{
    transform: rotate(180deg);
}

@media(max-width: 1299px){
    .cabinet__price-r{
        padding-right: 25px;
    }
    .cabinet-povtor{
        margin-left: auto;
    }
    .cabinet__head3{
        padding-right: 25px;
    }
    .cabinet__right{
        padding-left: 50px;
    }
}
@media(max-width: 1199px){
    .cabinet .korina__tovar{
        flex: 0 0 100px;
    }
    .korzina__head__item.item1{
        flex: 0 0 100px;
    }
    .cabinet__price-r{
        flex: 0 0 170px;
    }
    .cabinet__left {
        width: 270px;
    }
    .number{
        width: 125px;
    }
    .cabinet__head1{
        width: 125px;
    }
}
@media(max-width: 991px){
    .cabinet{
        flex-direction: column;
        align-items: center;
    }
    .cabinet__left{
        width: 100%;
        max-width: 500px;
        margin-bottom: 50px;
        margin-top: 25px;
    }
    .cabinet__right{
        padding-left: 0;
        width: 100%;
    }
    .cabinet-povtor span{
        width: auto;
        margin-left: 14px;
    }
}
@media(max-width: 767px){
    .cabinet__price-r{
        order: 2;
    }
    .cabinet .korina__tovar{
        display: none;
    }
    .cabinet__text{
        font-size: 23px;
        line-height: 29px;
    }
    .cabinet .label{
        font-size: 14px;
        line-height: 18px;
    }
    .adressa{
        text-align: left;
        margin-top: 29px;
    }
    .cabinet-povtor{
        position: absolute;
        bottom: 13px;
        left: 10px;
    }
    .korzina__body__item{
        position: relative;
        padding-bottom: 43px;
    }
    .number{
        font-size: 13px;
        line-height: 16px;
        width: 75px;
    }
    .cabinet__head1{
        width: 75px;
    }
    .cabinet__price-r{
        flex: 0;
        white-space: nowrap;
    }
    .cabinet__left{
        margin-bottom: 25px;
    }
    .cabinet__price-r{
        font-size: 11px;
        line-height: 14px;
    }
    .cabinet-povtor{
        font-size: 12px;
        line-height: 15px;
        img{
            width: 12px;
            
        }
    }
    .adressa .cabinet__text{
        font-size: 14px;
        line-height: 15px;
    }
    .adressa__item{
        font-size: 12px;
        line-height: 13px;  
        display: flex;
        align-items: center;
        img{
            width: 12px;
            margin-top: 2px;
        }
    }
    .adressa__delete{
        margin-left: 8px;
        width: 15px;
    }
    .adressa__add{
        font-size: 12px;
        line-height: 15px;
    }
}